section#type-alignment
  h4 Text Alignment
  p There are 9 text alignment classes. The "last" classes are experimental classes and may not always work.
  p The class #[code .text-push-up] is used to add a negative top margin equal to the bottom margin. It should only be used preceeding other text blocks, otherwise it will hide some of the content.
  .row
    .col-sm-8.offset-sm-2
      table
        thead
          tr
            th Alignment
            th Class
        tbody
          tr
            td left
            td .text-**-left
          tr
            td right
            td .text-**-right
          tr
            td center
            td .text-**-center
          tr
            td justify
            td .text-**-justify
          tr
            td left-last
            td .text-**-left-last
          tr
            td right-last
            td .text-**-right-last
          tr
            td center-last
            td .text-**-center-last
          tr
            td justify-last
            td .text-**-justify-last
          tr
            td push-up
            td .text-**-push-up
