header
  .container
    .flex-grid
      .row.flex-baseline
        .col-xs-4.text-center.text-xs-left
          h1.logo TARDIG<small>.css</small>
        .col-xs-8
          nav
            ul
              li: a(href="index.html") Home
              li: a(href="docs.html") Docs
              li: a(href="https://github.com/TARDIG/tardig" target="_blank") GitHub
