header
  .container
    .row
      .col-xs-4
        h1 TARDIG<small>.css</small>
      .col-xs-8
        nav
          ul
            li: a(href="index.html") Home
            li: a(href="docs.html") Docs
            li: a(href="https://github.com/TARDIG/tardig" target="_blank") GitHub
