article#getting-started
  h2 Getting Started
  p Currently, TARDIG comes in two versions: pre-compiled CSS and editable Sass.

  .row.wrapper.text-center
    .col-12.col-sm-6
      .wrapper-child
        h1 Compiled CSS
        p The pre-compiled version comes with all of the defaults. Included are normalize.css, a 12-column grid with breakpoint classes, a typography modular scale, and developer assistance tools.
        a.cta(href="files/tardig.css" download) Download CSS
    .col-12.col-sm-6
      .wrapper-child
        h1 Editable Sass
        p The Sass version is written modularly, with each component in a separate folder containing a #[code _variables.sass] file, which you can use to customize your own version of TARDIG.
        a.cta(href="files/tardig-sass.zip" download) Download Sass

  p Coming soon are LESS, SCSS, and Stylus ports as well as stripped down versions. For now, you can download the full CSS or Sass files.

hr.long-rule
