.container
  .row
    .col-md-9.push-md-3
      include gettingstarted.pug
      include overview/main.pug
      include grid/main.pug
      include typography/main.pug
      include development/main.pug
      include components/main.pug
      include usingSass/main.pug
    .col-0.col-md-3.pull-md-9
      include nav.pug
