nav.doc-nav
  ul
    li
      a(href="#getting-started") Getting Started
    li
      a(href="#overview") Overview&nbsp;
      input(type="checkbox" name="overview-docs" id="overview-docs")
      label(for="overview-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#overview-introduction") Introduction
        li: a(href="#overview-thegrid") The Grid
        li: a(href="#overview-typography") Typography
        li: a(href="#overview-development") Development Assistance
    li
      a(href="#thegrid") The Grid&nbsp;
      input(type="checkbox" name="grid-docs" id="grid-docs")
      label(for="grid-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#thegrid-containers") Containers
        li: a(href="#thegrid-rows") Rows
        li: a(href="#thegrid-columns") Columns
        li: a(href="#thegrid-block-grid") Block Grid
        li: a(href="#thegrid-gutters") Gutters
        li: a(href="#thegrid-nesting") Nesting
        li: a(href="#thegrid-alignment") Alignment
        li: a(href="#thegrid-display") Display
        li: a(href="#thegrid-flexbox") Flexbox
    li
      a(href="#typography") Typography&nbsp;
      input(type="checkbox" name="typography-docs" id="typography-docs")
      label(for="typography-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#type-sizes") Font Sizes
        li: a(href="#type-line-height") Line Heights
        li: a(href="#type-alignment") Text Alignment
        li: a(href="#type-decoration") Text Decorations
        li: a(href="#type-transform") Text Transforms
    li
      a(href="#dev") Dev Assistance&nbsp;
      input(type="checkbox" name="dev-docs" id="dev-docs")
      label(for="dev-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#dev-grid") Grid Underlay
        li: a(href="#dev-codeframe") Codeframe
    li
      a(href="#components") Components&nbsp;
      input(type="checkbox" name="components-docs" id="components-docs")
      label(for="components-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#components-embed") Responsive Embed
        li: a(href="#components-media") Media Objects
        li: a(href="#components-images") Images
    li
      a(href="#sass") Using Sass&nbsp;
      input(type="checkbox" name="sass-docs" id="sass-docs")
      label(for="sass-docs")
        i.fa.fa-chevron-circle-down
      ul
        li: a(href="#sass-variables") Variables
        li: a(href="#sass-mixins") Mixins
