article#sass
  h1 Using Sass
  p Each component of TARDIG is separated into folders, with the exception of normalize.css because it is third-party. Each of these folders contains partials which can be used to make TARDIG perfectly fit your needs. Apart from the variables files, it is not recommended that you mess with the other files unless you know what you're doing.
  p TARDIG uses indented Sass (which will soon be ported to SCSS). If you prefer the bracketed syntax, you can write the rest of your project in SCSS and still comfortably use the Sass version of TARDIG in your project. If you don't know Sass, you can read the guide <a href="http://sass-lang.com/guide">here</a>. This guide includes references to both indented and bracketed versions of Sass.

  include variables.pug
  include mixins.pug

hr.long-rule
