section#overview-introduction
  h4 Introduction
  p TARDIG contains 4 main features: normalize.css, a mobile-first grid system, a modular type scale, and development assistance tools.
  p Other features include media objects, image helper classes, and responsive embeds.
  p All classes with a breakpoint segment can also be written as a static class, omitting the breakpoint segment to use that styling across all screen sizes. For example, #[code .col-xs-10] could be written as #[code .col-10].
  p Throughout this documentation, within class names, #[code -**] represents the breakpoint segment of a class. #[code -*] represents the desired effect. For example, the 6 in #[code .col-sm-6] would mean that the column spans 6 available columns.
