section#dev-codeframe
  h4 Codeframe
  p Codeframing uses the class #[code .development-codeframe] and can be used for multiple things. You can set heights on specific elements and use it as a coded wireframe using the grid system. You can also use it in conjunction with DevTools to find errors more easily.
  p Rather than strictly using DevTools to find errors, the outlining in codeframe will help to instantly find any and all issues, which you can experiment with in DevTools to find a solution.
  .text-center: a.cta(data-role="toggleCodeframe") View Demo
