section#dev-grid
  h4 Grid Underlay
  p The grid underlay can be used by adding the class #[code .development-grid] to either the body tag, a parent to the container(s), or a container itself. How this works is it gives all the child elements a transparency and the container gets a background image of the grid using pink as the default color for gutters. #[small Note: if you have a background image on your container, TARDIG uses !important to override that.]
  p Don't worry if you change your number of columns in the grid. Grid Underlay will automatically recalculate the number of columns for you.
  .text-center: a.cta(data-role="toggleGrid") View Demo
