extends template/layout.pug
block content
  article.about
  .container
    .row.text-center
      .col-12
        h1 What is TARDIG?
        h4.text-push-up Typography and Responsive Design in Grids
        p.lead TARDIG is a front-end boilerplate designed to be a starting point in the creation of web pages.
        a.cta.big-cta(href="docs.html") See Full Documentation

    hr.long-rule

    .row.text-center
      .col-12
        p Tardig comes in a vanilla CSS and an indented Sass format. Soon, it will be updated to support SCSS, Less, and Stylus as well.
    .row.text-center
      .col-xs-6.col-md-3
        img.img-push-down(src="img/normalize.svg" alt="Normalize")
        h4 Normalize.css
        p.text-push-up Normalize.css is implemented to provide all possible browser consistency.
      .col-xs-6.col-md-3
        img.img-push-down(src="img/normalize.svg" alt="Normalize")
        h4 Grid System
        p.text-push-up The grid system is fluid by default but also comes with a responsive flavor.
      .col-xs-6.col-md-3
        img.img-push-down(src="img/normalize.svg" alt="Normalize")
        h4 Typography
        p.text-push-up Typography uses a modular scale and a formula to determine smart line heights.
      .col-xs-6.col-md-3
        img.img-push-down(src="img/normalize.svg" alt="Normalize")
        h4 Dev Assistance
        p.text-push-up Dev Assistance is a set of tools to help troubleshoot errors in coding.
