section#components-images
  h4 Images
  p Images can be made better for your responsive design. By adding the class #[code .img-responsive] it is given a max-width of 100% of it's parent, with an auto height to keep it proportional.
  p To center images smaller than the width of the parent, you can add the class #[code .img-center]. Alternatively, you can expand small images to 100% of the parent width by adding the class #[code .img-expand].
