section#thegrid-gutters
  h4 Gutters
  p Gutters are the spacing between column groups. By default, they are 15px on either side. This is the same size as the padding on the container and negative margins on the rows. You can alter this using Sass by going into the grid folder and editing the variable #[code $gutter] in the #[code _variables.sass] file.
