article#thegrid
  h1 The Grid

  include container.pug
  include rows.pug
  include columns.pug
  include blockgrid.pug
  include gutters.pug
  include nesting.pug
  include alignment.pug
  include display.pug
  include flexbox.pug

hr.long-rule
